.skill {
  width: 200px;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;

  .icon {
    width: 100px;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

  .skillInfo {
    .projectTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      font-family: 'Poppins', sans-serif;
      font-size: 13px;
      color: #767676;
      font-style: italic;
    }
  }
}


//.description {
//    color: #fff;
//    font-size: 17px;
//    font-family: 'Poppins', sans-serif;
//    margin-left: 3px;
//    margin-right: 3px;
//    text-decoration: none;
//    font-weight: 600;
//    display: inline-block;
//    transition: all .3s ease;
//
//}


