@import "../common/styles/sass/mixins";

.mainBlock {
  min-height: 100vh;
  background-color: $bgFirstColor;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  .container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .name {
    color: $bgSecondColor;
    font-size: 25px;
    @media screen and (max-width: 450px) {
      font-size: 20px;
    }

    .h1 {
      font-size: 80px;
      margin-block-start: 0em;
      margin-block-end: 0em;

      font-weight: 900;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      line-height: 1.1;

      -webkit-text-stroke: 1px #fff;
      color: #767676;

      @media screen and (max-width: 600px) {
        font-size: 60px;
      }
      @media screen and (max-width: 450px) {
        -webkit-text-stroke: 0.5px #fff;
        font-size: 40px;
      }
    }

    .text {
      color: gray;

    }
  }
}




