@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.project {
    width: 250px;
    background-color: $bgSecondColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 20px;
    .image {
        width: 250px;
        height: 250px;
        background-color: $bgSecondColor;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            background-color: $bgSecondColor;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.4;
        }
        .buttonView {
            color: $textColor;
            background-color: $bgFirstColor;
            padding: 10px 20px;
            position: relative;
            z-index: 1;
        }
    }
    .projectInfo {
        padding: 25px 20px;
        .projectTitle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 25px;
            position: relative;
            @include text(13px, $textColor);
            font-style: italic;
        }
        .description {
            @include text(17px,$primaryColor);
            margin-left: 3px;
            margin-right: 3px;
            text-decoration: none;
            font-weight: 600;
            display: inline-block;
            transition: all .3s ease;
        }
    }
}











