.footerBlock {
    background-color: midnightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h2 {
    background-color: yellow;
}

.footerContainet {
    width: 80%;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer {
    width: 280px;
    height: 40px;
    background-color: #e31b6d;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon {
    width: 20px;
    height: 20px;
    background-color: black;
}