.projectsBlock {
    min-height: 100vh;
    background-color: burlywood;
}

.projectsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background-color: red;
}

.projects {
    border: 1px solid;
    background-color: darkgreen;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}
